<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Services">About</a></li>
	        		<li><a href="/Contact Us">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:amcharrett@testingtimes.com.au>email</a></li>
	        		<li><a href="https://github.com/charrett">github.com/charrett</a></li>
				</ul>
			</footer>
		</body>
	</html>
